<!DOCTYPE html>
<html>
  <head>
    <title>Pagepal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "Home", root_path %> |
      <%= link_to "Books", books_path %> |
      <%= link_to "Add new book", new_book_path %> |
      <%= link_to "Profile", profile_path %> |

      <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
